/* UpdateDoctor.css */

.container {
    margin-top: 50px;
}

h1, h2 {
    text-align: center;
}

form {
    margin-top: 20px;
}

input[type="text"],
input[type="password"] {
    margin-bottom: 10px;
}

button {
    margin-top: 10px;
}

a {
    display: block;
    margin-top: 20px;
    text-align: center;
}
